*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-style: ;
    font-size: ;
    position: relative;
}
.upgrade{
    width: 100%;
    height: 80px;
    background-color: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
}
.upgrade a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 7px 20px;
    font-size: 10px;
    margin-right: 5px;   
}
.vertical-nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    width: 40px;   /*da cambià*/
    background-color: black;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0%;
}
.vertical-nav img{
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.vertical-nav span{
    display: none;    /*da cambià*/
}
.i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom i{
    color: white;
}
.top{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bottom img{
    background-color: rgb(171, 169, 169);
    width: 20px;
    border-radius: 100%;
}
main{
    margin-top: 80px;
    margin-left: 40px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(28, 28, 37);
}
nav{
    min-height: 100px; /*da cambià*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
nav div{
    font-size: 10px;
    margin-right: 7px;
    margin-left: 7px;
    color: rgb(194, 194, 194);
}
h2{
    color: white;
}
.allblocs{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
.blocco{
    width: 180px;
    height: 250px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocco img{
    width: 100%;
}
.title{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.subtitle{
    margin-top: 10px;
    color:rgb(194, 194, 194);
    font-size: 9px;
}
.riproduci{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    color: white;
    background-color: rgb(28, 28, 29);
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
}
.riproduci img{
    width: 30px;
}
.riproduci i{
    font-size: 12px;
}
.infosong{
    width:25%;
}
.volume{
    width:25%;
}
.brano{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
}
.like-save{
    display: flex;
    flex-wrap: wrap;
    color: rgb(169, 168, 167);
    width: 4%;
}
.centerr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.menage{
    display: flex;

}
.menage i{
    margin-left: 10px;
    margin-right: 10px;
}

