*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-style: ;
    font-size: ;
    position: relative;
}
.upgrade{
    width: 100%;
    height: 80px;
    background-color: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
}
.upgrade a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 7px 20px;
    font-size: 10px;
    margin-right: 5px;   
}
.vertical-nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 40px;   /*da cambià*/
    background-color: black;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
.vertical-nav img{
    width: 20px;
    margin-top: 10px;
    cursor: pointer;
}
.vertical-nav span{
    display: none;    /*da cambià*/
}
.i{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom i{
    color: white;
}
.top{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.bottom img{
    background-color: rgb(171, 169, 169);
    width: 20px;
    border-radius: 100%;
}
main{
    margin-top: 80px;
    margin-left: 40px;
    background-color: rgb(28, 28, 37);
}
nav{
    min-height: 100px; /*da cambià*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
nav div{
    font-size: 10px;
    margin-right: 15px;
    color: rgb(194, 194, 194);
}

